{% extends "blog/index.html" %}
{% load static %}

{% block card %}
<link rel="stylesheet" href="{% static 'blog/content-card.css' %}" />


<link href="https://fonts.googleapis.com" rel="preconnect" ><link href="https://fonts.gstatic.com" rel="preconnect" crossorigin ></head>
<body id="ixa77"><div id="ContentCardContainer">
    <a href="{% url 'blog_article' post.slug %}">
        <img id="i0o92" src="{% static post.featured_image %}"/>
    </a>
    <div id="BlogInfo">
        <div id="BlogInfoTitle">
            {{ post.title }}
        </div>
        <div id="BlogInfoDate">
            {{ post.created_at }}
        </div>
    </div>
</div>

{% endblock card %}