<!DOCTYPE html>
<html lang="">
<head>
<meta charset="UTF-8">
{% load static %}

<link rel="stylesheet" href="{% static 'blog/index.css' %}" />


<link href="https://fonts.googleapis.com" rel="preconnect" ><link href="https://fonts.gstatic.com" rel="preconnect" crossorigin ></head>
<body id="il6a">
<div id="HeaderContainer">
    <a href="{% url 'index' %}">
        <H1 id="TitleText">Webblog</H1>
    </a>
</div>
<div id="ContentContainer">
    <div id="BlogContainer">
        {% if blog_content %}
            {% block article %}{% endblock %}
        {% else %}
        {% if blog_posts %}
            {% for post in blog_posts %}
                {% if post.is_published %}
                    {% block card %}{% endblock %}
                {% endif %}
            {% endfor %}
            {% else %}
                <p>No Blogs are available.</p>
        {% endif %}
    {% endif %}
    </div>
</div>
<div id="FooterContainer">
    <div id="ip46k"><span id="i0fui">© Benedikt Görgei</span>
    </div>
</div>
</body>
</html>